@page
@model ImageSearch.Web.Pages.Identitys.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>Detail</h2>
<input id="identity-info" class="hidden" data-name=@TempData["name"] data-registercode=@TempData["registercode"] />

@section Scripts{
<script>
    var info = $("#identity-info");
    window.open("http://www.962222.net/sbkRS.jsp?name=" + info.attr("data-name") + "&registerCode=" + info.attr("data-registercode"));
</script>
}