@page
@model ImageAI.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    江苏省张家港市杨舍镇七里庙小区三区<br />
    <abbr title="Phone">P:</abbr>
    15150231655
</address>

<address>
    <strong>Support:</strong> <a href="mailto:qianchenchn@foxmail.com">qianchenchn@foxmail.com</a><br />
</address>
